@import "styles/vars.scss";

.body {
  width: 400px;
  height: 100%;
  padding: 25px 30px 20px;

  font-family: $secondFont;
  color: #081945;
}
.title {
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 22px;
  text-align: center;
}

@media (max-width: 710px) {
  .body {
    width: 100%;
    height: 100%;
  }
}
